body {
	display: grid;
	background: Azure;
	text-align: center;
	padding: 11px;
	font-size: 1.2em;
	font-family: Arial, Helvetica, sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
label {
	font-family: Arial, Helvetica, sans-serif;
}

hr {
  margin: 1.2em 0;
}

input, button {
  font-size: 1.2rem;
	font-family: Arial, Helvetica, sans-serif;
}

input {
  width: 90%;
  margin: 0 20px;
}